{sub_dirs,
   [ "rel"
   , "apps/carson_core"
   ]
}.

{cover_enabled, true}.

{edoc_opts,
  [ {preprocess, true}
  , {stylesheet_file, "./priv/edoc.css"}
  ]
}.

{erl_opts,
  [ debug_info
  %, warnings_as_errors
  , {parse_transform, lager_transform}
  , {i, "include"}
  , {src_dirs, ["src"]}
  ]
}.

{deps,
  [ {riak_core, ".*", {git, "git://github.com/basho/riak_core", {tag, "2.0.0beta1"}}}
  , {riak_pipe, ".*", {git, "git://github.com/basho/riak_pipe", {tag, "2.0.0beta1"}}}
  , {triq, ".*", {git, "git://github.com/krestenkrab/triq", "master"}}
  %, {exec, ".*", {git, "git://github.com/saleyn/erlexec", "master"}}
  %, {rafter, ".*", {git, "git://github.com/mbbx6spp/rafter", {branch, "fix-dependencies"}}}
  ]
}.
